################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Vivalnk/bin
/Vivalnk/obj
/Vivalnk.Binding/bin
/Vivalnk.Binding/obj